html {
    width: 100%;
    height: 100%;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-image: url(./img/img-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
main {
    width: 950px;
    min-width: 320px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
}
main > * {
    order: 999;
}
.lateral {
    background-color: #5a7881; 
    flex-basis: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.logo {
    border-radius: 25%;
    max-width: 100%;
    margin-bottom: 20px;
}
.lateral a {
    color: #d1d1d1;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.lateral a:first-of-type {
    margin-top: auto;
}
.lateral a:hover {
    color: #051b21;
}
span {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 600;
    color: #d1d1d1;
    padding-bottom: 10px;
}
.contenido {
    background-color: #d1d1d1;
    flex-basis: 70%;
    padding: 20px;
}
.contenido h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.contenido p {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 10px;
}
.contenido ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.contenido li {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #050505;
}
.contenido ul li {
    background-color: #5a7881;
    margin-bottom: 10px;
    flex-basis: 30%;
    height: 135px;
    background-position: center;
    background-size: cover;
}
.contenido ul li:first-of-type {
    background-image: url(./img/img-01.jpg);
}
.contenido ul li:nth-child(3) {
    background-image: url(./img/img-02.jpg);
}
.contenido ul li:nth-child(5) {
    background-image: url(./img/img-03.jpg);
}
.contenido ul li:nth-child(7) {
    background-image: url(./img/img-04.jpg);
}
.contenido ul li:last-of-type {
    background-image: url(./img/img-05.jpg);
}
.contenido .servicios {
    font-family: 'Work Sans', sans-serif;
    color: #051b21;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
   
}
@media (max-width: 705px) {
    body {
        align-items: flex-start; 
    }
    .lateral, .contenido {
        flex-basis: 100%;
    }
    .contenido {
        order:1;
    }
    .lateral {
        order: 2;
    }
    .contenido .servicios {
        padding-top: 40px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }
} 

